body {
  margin: 0;
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  background-color: hsl(204, 43%, 93%);
}

.container {
  margin: 10rem 23rem 9rem;
  border-radius: 5px;
}

.white {
  background-color: white;
  height: 11rem;
  border-radius: 10px 10px 0 0;
  padding: 2rem 2.5rem 0;
}

.green {
  position: relative;
}

.dark-green {
  background-color: rgb(43, 179, 177);
  height: 11rem;
  border-radius: 0 0 10px 10px;
  padding: 2rem 2.5rem;
}

.light-green {
  background-color: rgb(74, 190, 189);
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 15rem;
  border-radius: 0 0 10px 0;
}

.join {
  color: hsl(179, 62%, 43%);
  margin-top: 0;
  font-weight: 700;
  font-size: 1.5rem;
}

.hassle {
  color: hsl(71, 73%, 54%);
  font-weight: 700;
  font-size: 1.08rem;
}

.Monthly {
  margin: 3px auto 0.5rem;
  font-weight: 700;
  margin-bottom: 0.3rem;
}

.cost {
  font-size: 14px;
  margin-top: 0.5rem;
  color: hsl(204, 43%, 93%);
}

span {
  font-weight: 700;
  font-size: 1.9rem;
  position: relative;
  top: 0.4rem;
  margin-right: 0.5rem;
}

.gain {
  color: hsl(218, 22%, 67%);
  line-height: 1.6;
  font-size: 0.95rem;
}

.full {
  margin-top: 0.5rem;
  font-size: 0.9rem;
}

.text-white {
  color: white;
}

.why {
  font-weight: 700;
  margin: 2.3rem 2rem 1.5rem;
}

.details {
  color: hsl(204, 43%, 93%);
  font-size: 13px;
  margin: 0.2rem 2rem;
}

button {
  border-style: solid;
  border-width: 0px;
  border-radius: 5px;
  font-size: 1rem;
  font-family: 'Karla', sans-serif;
  color: white;
  background-color: hsl(71, 73%, 54%);
  width: 14rem;
  height: 3rem;
  margin-top: 0.9rem;
}

.attribution {
  margin-bottom: 0;
}

@media (max-width: 375px) {

.container {
  margin: 4rem 2rem;
}

.white {
  height: 15rem;
  padding: 2rem 1.5rem 0;
  border-radius: 5px 5px 0 0;
}

.join {
  font-size: 1.13rem;
}

.hassle {
      margin-top: 1.5rem;
  font-size: 0.85rem;
  line-height: 1.5;
}

.gain {
  line-height: 2;
  font-size: 0.8rem;
}

.dark-green {
  border-radius: 0;
  padding: 2rem 1.5rem;
  height: 11.5rem;
}

.cost {
  margin-top: 1rem;
}

.light-green {
  position: relative;
  width: 15.35rem;
  padding: 1.5rem;
  height: 11.5rem;
  border-radius: 0 0 5px 5px;
}

.dark-green {
  padding: 1.5rem;
}

.why {
  margin: 0 0 1.3rem;
}

.details {
  margin-left: 0;
  margin: 0.4rem 0;
}

button {
  font-size: 0.833rem;
  width: 100%;
}

}
